/* .home button{
    border-radius: 8px;
    font-size: max(1.6vmax,15px);
    background-color: #86a3b4;
    color: #4a4a4a;
    font-weight: bold;
    box-shadow: 0px 0px 8px 3px #72727267;
    border-width: 1px;
    border-color: #6e57367c;
    margin-bottom: 5%;
} */

.home{
    padding-bottom: 3%;
}