.mySales{
    text-align: center;
    margin-top: max(7vh,55px);
}
.mySales h1{
    margin: 0;
    margin-bottom: 1%;
}

.mySales button{
    border-radius: 8px;
    font-size: max(1.6vmax,15px);
    background-color: #86a3b4;
    color: #4a4a4a;
    font-weight: bold;
    box-shadow: 0px 0px 8px 3px #72727267;
    border-width: 1px;
    border-color: #6e57367c;
    margin-bottom: 5%;
}
.mySales:disabled
  button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc !important;
    color: #666666;
}

.mySales button:hover{
    background-color: #46576d;
    color: #b1b1b1;
}

.addDetails{
    flex-direction: column;
    display: flex;
    margin: auto;
    width: 80%;
    max-width: 500px;
    align-items: center;
    margin-top: 4vmin;
}

.addDetails h1{
    /* margin: 0.5%; */
    font-size: max(2vmax,20px);
    color: #46576d;
    flex-grow: 2;
    hyphens: auto;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}

.addDetails input{
    background-color: #d4d4d4;
    width: 73%;
    min-height: 27px;
    border-radius: 8px;
    padding-right: 1%;
    padding-left: 1%;
    font-size: 95%;
    font-weight: bold;
    box-shadow: 0px 0px 8px 3px #72727267;
    max-width: 800px;
    max-height: 40px;
    border-width: 1px;
    border-color: #4a4a4a;
    margin-bottom: 5%;
}

.addDetails input:focus{
    outline: none !important;
    border-color: #5f7ea7 !important;
    box-shadow: 0px 0px 15px 15px #45444467;

}

