.sales h2{
    margin: 0;
}

.salesBox{

    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    /* margin-top: 3vw; */
    justify-content: center;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    
}

.salesBox > :hover{
    transform: scale(1.1);
    z-index: 2;
}

/* .sales button{
    border-radius: 8px;
    font-size: max(1.6vmax,15px);
    background-color: #86a3b4;
    color: #4a4a4a;
    font-weight: bold;
    box-shadow: 0px 0px 8px 3px #72727267;
    border-width: 1px;
    border-color: #6e57367c;
} */

.saleCard{
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 3px #6f6f6f;
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    margin: 1.5% 1%;    
    position: relative;
    background-color: #9c9c9c;
    transition: transform .4s;/*  Animation */
}

.saleCard p{
    
}

.sales .soldImg{
    position: absolute;
    max-width: 7vmax;
    pointer-events: none;
}

.saleHeader{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #4d5156;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.saleHeader .textH{
    /* flex-grow: 2; */
    /* hyphens: auto; */
    /* overflow: auto; */
    white-space: normal;
    text-overflow: ellipsis;
    width: 66.6%;        
    text-transform: capitalize;

}


.saleHeader .imgh{
    width: 33.3%;
    height: 100%;
}

.saleCard h1{
    margin: 1%;
    color: #86a3b4;
    font-size: x-large;

}

.saleCard h6{
    margin: 0;
    color: #50626c;
}
.saleCard h5::first-letter{
    text-transform: capitalize;
}
.saleCard h5{
    /* margin: 0 5px; */
    margin-left: 5px;
    margin-right: 5px;
}


.saleHeader img{
    border-top-right-radius: 8px;
    /* width: 11vmax; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sales .likeBtn{
    display: flex;
    justify-content: space-between;
    width: 90%;
    position: absolute;
    bottom: max(3.5%,10px);

    align-self: flex-end;
    max-height: 30px;
    margin-bottom: 1vmax !important;
    margin-right: 1vmin !important;
    margin-top: 5px !important;
    transition: transform .4s; /*Animation */

}

.sales .likeBtn button{
    margin: 0 !important;
    margin-bottom: -4% !important;
    background-color: transparent !important;
    box-shadow: none !important;
    border: 0 !important;
}
.sales .likeBtn img{
    width: max(1.6vmax,21px);
}
.sales .likeBtn p{
    margin-bottom: 4% !important;
}
.saleCard hr{
    background-color: #4d5156;
    height: 1px;
    width: 85%;
    margin: 0 auto;
    border: 0;
}



@media screen and (max-width: 1200px) {
    .saleCard{
        flex-basis: 45%;
    }
}

@media screen and (max-width: 600px) {
    .saleCard{
        flex-basis: 95%;
    }
}