.salePage{
    display: flex;
    /* width: 90%; */
    padding: 2% 0;
    margin: auto;
    margin-top: max(11vh,80px);
    justify-content: center;
    flex-wrap: wrap;
}

.salePage .horizontal_hr{
    width: 1px;
    background-color: #707070;
    margin: 2% 0;
}

.salePage h1{
    margin: 0;
    font-size: max(7vmin,30px);
    color: #282c34;
}
.salePage hr{
    background-color: #7a7a7a93;
      height: 1px;
      width: 85%;
      margin-bottom: 5%;
      border-radius: 8px;
      border: 0;
}

.sale{
    padding-top: 3%;
    border-radius: 8px;
    /* box-shadow: 0px 0px 15px 3px #6f6f6f; */
    display: flex;
    flex-direction: column;
    flex-basis: 65%;
    margin: 1.5% 1%;    
    position: relative;
    text-align: center;
    border: 1px solid #707070;
}

.section1{
    justify-content: center;
    display: flex;
    text-align: start;
    flex-wrap: wrap;
}
.section1 img{
    box-shadow: 0px 0px 15px 3px #6f6f6f;
    border-radius: 8px;
    width: 100%;
    object-fit: contain;
}

.section1 .image{
    margin: 1%;
    /* overflow: hidden; */
    flex-basis: 55%;
}

.section1 .h1_p{
    margin: 0 1%;
    padding: 0 3%;
    flex-basis: 30%;

    /* text-align: center; */
}

.theChat{
    /* padding-top: 3%; */
    margin: 1.5% 1%;    
    flex-basis: 30%;
}




@media screen and (max-width: 1200px) {
    .section1 .image{
        flex-basis: 90%;
    }
    .section1 .h1_p{
        flex-basis: 90%;
    }
}


@media screen and (max-width: 900px) {
    .sale{
        flex-basis: 95%;
    }
    .theChat{
        flex-basis: 95%;
    }
    .salePage .horizontal_hr{
        display: none;
    }
}

@media screen and (max-width: 600px) {
    
}