.salePageOver{
    margin-top: max(11vh,80px);
    text-align: center;
}

.salePage{
    display: flex;
    /* width: 90%; */
    padding: 2% 0;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}



.salePage input:focus{
    outline: none !important;
    border-color: #5f7ea7 !important;
    box-shadow: 0px 0px 15px 5px #45444467;

}



.salePage .horizontal_hr{
    width: 1px;
    background-color: #707070;
    margin: 2% 0;
    max-height: 80vh;
}

/* .salePage h1{
    margin: 0;
    color: #282c34;
} */
.salePage hr{
    background-color: #7a7a7a93;
      height: 1px;
      width: 85%;
      /* margin-bottom: 5%; */
      border-radius: 8px;
      border: 0;
}

.sale{
    padding-top: 3%;
    border-radius: 8px;
    /* box-shadow: 0px 0px 15px 3px #6f6f6f; */
    display: flex;
    flex-direction: column;
    flex-basis: 65%;
    margin: 1.5% 1%;    
    position: relative;
    border: 1px solid #707070;
}

.section1{
    /* justify-content: center; */
    display: flex;
    word-wrap: break-word;
    /* text-align: start; */
    /* flex-wrap: wrap; */
}

.section1 .image{

    margin: 1%;
    flex-basis: 60%;
    text-align: center;
    border-radius: 8px;
}

.section1 img{
    border-radius: 8px;
    /* width: 90%; */
    max-width: 85%;
    /* min-width: 80%; */
    min-height: 40vh;
    max-height: 500px;
    object-fit: cover; 
    transition: transform .5s; /* Animation */
    /* transition: transform 1s, filter .5s ease-out;*/
    transform-origin: 15% 45%; 
    cursor: zoom-in;

}
.section1 img:hover{
    transform: scale(1.5);
    box-shadow: 0px 0px 15px 3px #6f6f6f;
}
.section1 .h1_p{
    margin: 0;
    margin-right: 2%;
    /* padding: 0 3%; */
    text-align: start;
    max-width: 40%;
    overflow: hidden;
    padding-bottom: 60px;
    /* text-overflow: clip; */
}
.section1 .h1_p h1{
    margin: 0 ;
    color: #38506f;
    font-size: max(4vw,30px);
}

.section1 .h1_p p{
    /* margin: 0 ; */
    color: #4a4a4a;
    font-size: max(1.5vw,20px);
}

.theChat{
    margin: 1.5% 1%;    
    flex-basis: 30%;
    max-width: 500px;
    max-height: 80vh;
}


.details{
    margin: 1%;
    display: flex;
}

.details hr{
    visibility: hidden;
    display: none;
}

.details h1{
    margin: 0;
    color: #38506f;
    font-size: 3vw;
}

.details h2{
    /* margin: 0 ; */
    color: #4a4a4a;
    font-size: min(3.5vw,3.5vh);
}

.price{
    text-align: start;
    flex-grow: 1;
    padding:0 2%;
    padding-left: 4%;
    /* max-width: 50%; */
    overflow: hidden;
    /* overflow-wrap: break-word; */
}

.offer{
    flex-grow: 1;
    padding:0 2%;
}

.salePage .soldBtn{
    flex-grow: 1;
    padding:0 2%;
    margin: auto;
}

.salePage .soldImg{
    position: absolute;
    max-width: 10vmax;
    margin-top: -4.5%;
    pointer-events: none;
}

.details input{ 
    background-color: #d4d4d4;
    /* width: max(9vmax,15px); */
    width: 70%;
    border-radius: 8px;
    padding-right: 1%;
    padding-left: 1%;
    font-size: max(1.6vmax,15px);
    font-weight: bold;
    box-shadow: 0px 0px 8px 3px #72727267;
    max-width: 800px;
    max-height: 40px;
    border-width: 1px;
    border-color: #4a4a4a;
    margin-top: 5%;
}

.salePageOver .showImg{
    z-index: 20;
    /* display: flex; */
    /* flex-direction: column; */
    overflow: hidden;
    position: fixed;
    width: 60vw;
    height: 80vh;
    padding: 10px;
    border-radius: 20px;
    transition: 0.7s ease-in-out;
    background-color: #9c9c9c;
    box-shadow: 0px 0px 100px 30px #707070;
    top: 50%;
    left: 50%;
    margin-top: -40vh;  /* Negative half of height. */
    margin-left: -30vw;  /* Negative half of width. */
}
.salePageOver .showImg button{
    position: absolute;
    right: 1%;
    font-size: xx-large;
    border-radius: 20px;
    font-weight: bold;
}
.salePageOver .showImg img{
    max-width: 85%;
    /* min-width: 80%; */
    min-height: 80vh;
    max-height: 80vh;
    object-fit: cover; 
    border-radius: 8px;
}



.salePage .likeBtn{
    position: absolute;
    /* bottom: max(3.5%,10px); */
    right: 0;
    max-height: 30px;
    display: flex;  
    /* flex-direction: row;   */
    /* width: 90%; */
    align-self: flex-end;
    /* justify-content: space-between; */
    /* margin-bottom: 1vmax !important; */
    /* margin-right: 1vmin !important; */
    /* padding-top: 40px !important; */
    padding-right: 30px;
    padding-bottom: 30px;
    transition: transform .4s;
    text-align: center;
    align-items: center;


}

.salePage .likeBtn button{
    /* margin: 0 !important;
    margin-bottom: -4% !important; */
    background-color: transparent !important;
    box-shadow: none !important;
    border: 0 !important;
}
.salePage .likeBtn img{
    cursor: unset;
    width: max(3vmax,21px);
    height: max(3vmax,21px);
    min-height: unset !important;
    transform-origin: 50%; 
    
}
.salePage .likeBtn img:hover{
    box-shadow: none;
    transform: scale(1);

}
.salePage .likeBtn p{
    /* margin-bottom: 4% !important; */
    font-size: max(1vmax,9px);
    /* height: max(1.2vmax,15px); */
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px !important;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-right: 30px;
    padding-bottom: 23px;
}



@media screen and (max-width: 1000px) {

    .sale{
        flex-basis: 95%;
    }
    .theChat{
        flex-basis: 95%;
    }
    .salePage .horizontal_hr{
        display: none;
    }
    .salePage .details > .horizontal_hr{
        display: block;
    }
    
    .section1{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;

    }
    .section1 .image{
        flex-basis: 95%;
    }

    .section1 .h1_p{
        flex-basis: 85%;
        max-width: none;
    }
    .section1 .h1_p h1{
        margin: 1% 0;
        
    }
    .price{
        text-align: center;
    }
    .details{
        flex-direction: column;
    }
    .details h1{
        font-size: 6vw;
    }
    .details h2{
        font-size: 5vw;
    }
    .offer h2{
        font-size: 5vw;
    }
    .offer button{
        font-size: 4vw;
    }
    .offer input{
        font-size: 4vw;
    }
    .details hr{
        visibility: visible;        
        display: flex;
    }
    .salePageOver .showImg{
        display: none;
    }
    
}


/* @media screen and (max-width: 900px) {

} */

@media screen and (max-width: 750px) {
    .section1 img{
        border-radius: 8px;
        /* width: 90%; */
        max-width: 85%;
        /* min-width: 80%; */
        min-height: 40vh;
        max-height: 500px;
        object-fit: cover; 
        transition: transform .5s; /* Animation */
        /* transition: transform 1s, filter .5s ease-out;*/
        transform-origin: 55% 55%; 
        cursor: zoom-in;
    
    }
    .section1 img:hover{
        transform: scale(1.2);
        box-shadow: 0px 0px 15px 3px #6f6f6f;
    }

    .section1 .h1_p{
        padding-right: 60px;
        padding-left: 10px;
    }
}